.roadmap {
    padding: 100px 40px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: #000;
    flex-direction: column;
    align-items: center;
    background-image: url('https://res.cloudinary.com/mselbekk-com/image/upload/v1641901943/andrew-kliatskyi-jpu0gMXT9to-unsplash_2_omlqie.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#the-roadmap .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    max-width: 650px;
    width: 100%;
    padding-top: 60px;
    /* min-height: 800px; */
    /* background-color: #ccc; */
}

#the-roadmap img {
    width: 100%;
}