.crew {
    padding: 100px 40px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: #0F0F0F;
    flex-direction: column;
    align-items: center;
}

#the-crew .section.one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    max-width: 1200px;
    width: 100%;
    padding-top: 60px;
}

#the-crew .one, .two, .three {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 2rem;

}


#the-crew .image {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#the-crew .image img {
    width: 100%;
}

#the-crew .crew-names {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#the-crew h3 {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #767676;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

#the-crew h4 {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
    #the-crew .section.one {
        grid-template-columns: 1fr 1fr;
    }

    #the-crew .section.two {
        grid-template-columns: 1fr;
    }

    .left {
        text-align: center;
    }

}



@media only screen and (max-width: 800px) {
    #the-crew .section.one {
        grid-template-columns: 1fr;
        grid-gap: 80px;
    }

    #the-crew .image img {
        width: 80px;
    }

    #the-crew .image.small img {
        width: 60px;
    }

    #the-crew h3 {
        font-size: 0.5rem;
    }

    #the-crew h4 {
        font-size: 0.5rem;
    }

}