#faq {
    padding: 100px 40px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: #0F0F0F;
    flex-direction: column;
    align-items: center;
}

#faq .section-faq {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    /* padding-top: 60px; */
    text-align: center;
}


/* boooooooooom */





.accordion {
    border-radius: 0px!important;
    border: 0px!important;
}

.accordion .accordion-item .title {
    background-color: #2C2C2E!important;
    margin-top: 2rem;
}

.accordion-item button {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #fff!important;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.accordion .accordion-item .title:after {
    color: #B92EE5!important;
    font-size: 1rem!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    content: '\002b'!important;
}

.accordion .accordion-item.active .title:after {
    color: #B92EE5!important;
    font-size: 1rem!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    content: '\2212'!important;
}

.accordion .accordion-item .panel {
    text-align: left;
    /* padding: 18px; */
    /* background-color:#2C2C2E!important; */
}

.accordion .accordion-item.active .panel p {
    padding: 18px;
    margin-bottom: 0rem!important;
}


@media only screen and (max-width: 1010px) {

  #faq {
      margin-bottom: 2rem;
      padding: 2rem;
  }

}

@media only screen and (max-width: 800px) {
  .accordion-item button {
    font-size: 1.2rem;
}

  #faq p {
    font-size: 1.2rem;
  } 
}

