.void-pass {
    padding: 100px 20px;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: #111111;
    flex-direction: column;
    align-items: center;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    max-width: 1200px;
    width: 100%;
    /* margin-top: 70px; */
    /* background: red; */
}

.left {
    width: 100%;
    padding-right: 3rem;
}

video.video-nft-two {
    /* max-width: 500px; */
    width: 100%;
    /* position: relative;
    margin-top: 176px; */
    /* box-shadow: 1px 1px 30px 2px rgba(0, 0, 0, 0.5); */
    -webkit-box-shadow: 0px 0px 15px 5px #000000; 
    box-shadow: 0px 0px 15px 5px #000000;
    border-radius: 10px;
}

.right {
    width: 100%;
}

.void-pass ul {
       line-height: 55px; 
}

.void-pass li {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* line-height: 55px; */
    padding: 5px 0 5px 18px;
}

.right li:before {
    content: "";
    display: inline-block;
    margin: 13px 18px -5px -18px;
    width: 15px;
    height: 15px;
    background: url('https://res.cloudinary.com/mselbekk-com/image/upload/v1641893548/check_3_1_dorbkg.png');
    background-repeat: no-repeat;
}

.table {
    padding-bottom: 4rem;
    width: 100%;
}

/************MINTING************/

.minting{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    /* position: absolute; */
    /* bottom:20px; */
    height: 200px;
    padding: 0px 20px;
}

.minting h3 {
    /* color: #fff!important;
    background: none;
    -webkit-text-fill-color:none;
        -moz-background-clip: none;
        -webkit-background-clip: none; */
        font-size: 1.2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 3rem 0rem;
        color: #fff;
}

#void-pass .timer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    grid-gap: 1rem;
    text-align: center;
}

#void-pass .timer p {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0rem!important;
}

#void-pass .timer p small {
  font-size: .8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

#void-pass .space {
    background: linear-gradient(51.33deg, #5E03C6 39.03%, #3F33D5 100.2%);
    border-radius: 10px;
    padding: 1.5rem;
}

/************MINTING************/



@media only screen and (max-width: 1000px) {
    .section {
        grid-template-columns: 1fr;
    }

    .left {
        text-align: center;
        padding-right: 0rem;
    }

}

@media only screen and (max-width: 720px) {
    .void-pass li {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        /* line-height: 55px; */
        padding: 0px 0 0px 18px;
        font-size: 0.5rem;
    }

    .void-pass {
        padding: 60px 20px;

    }

}