*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}



/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,600;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


.App {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: black;
}

h1 {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  /* color: #B92EE5; */
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 2rem;

  background: -webkit-linear-gradient(73deg, #5E03C6, #FC4EFC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

p {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4rem;
  line-height: 25px;
}

li {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  
  h2 {
    font-size: .9rem;
  }

  p {
    font-size: 0.6rem;
  }

}



